<nav class="container mx-auto flex flex-wrap items-center justify-between gap-4 sticky backdrop-blur top-0 p-4 isolate z-50 bg-white/80 dark:bg-black/80">
    <button class="md:hidden hover:opacity-80 transition-all duration-300">
      <div class="relative size-5">
        <div class="absolute transition-all duration-300 opacity-0" style="transform: rotate(-180deg);">
          <div class="size-5 dark:text-white">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
              <path fill="currentColor" d="M208.49 191.51a12 12 0 0 1-17 17L128 145l-63.51 63.49a12 12 0 0 1-17-17L111 128L47.51 64.49a12 12 0 0 1 17-17L128 111l63.51-63.52a12 12 0 0 1 17 17L145 128Z"></path>
            </svg>
          </div>
        </div>
        <div class="absolute transition-all duration-300 opacity-100" style="transform: rotate(0deg);">
          <div class="size-5 dark:text-white">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
              <path fill="currentColor" d="M228 128a12 12 0 0 1-12 12H40a12 12 0 0 1 0-24h176a12 12 0 0 1 12 12M40 76h176a12 12 0 0 0 0-24H40a12 12 0 0 0 0 24m176 104H40a12 12 0 0 0 0 24h176a12 12 0 0 0 0-24"></path>
            </svg>
          </div>
        </div>
      </div>
    </button>
    <div class="flex items-center gap-8" data-svelte-h="svelte-1x8nd3z">
      <a class="hover:opacity-80 transition-opacity duration-300 flex items-center gap-2" href="/">
        <img src="/logo.png" alt="" class="size-8 rounded-full hidden md:flex">
        <p class="dark:text-white font-medium">MemenomeLM</p>
      </a>
      <a href="/#features" class="hover:opacity-80 transition-opacity duration-300 hidden md:flex">
        <p class="dark:text-white">Features</p>
      </a>
      <a href="/#pricing" class="hover:opacity-80 transition-opacity duration-300 hidden md:flex">
        <p class="dark:text-white">Pricing</p>
      </a>
      <a href="/#faq" class="hover:opacity-80 transition-opacity duration-300 hidden md:flex">
        <p class="dark:text-white">FAQ</p>
      </a>
    </div>
    <div class="md:hidden flex">
      <a class="dark:text-white px-3 py-2 rounded-md shadow-md hover:opacity-80 transition-opacity duration-300 bg-black dark:bg-white" href="/signin" data-svelte-h="svelte-1sxihzl">
        <p class="text-white dark:text-black text-sm">Sign in</p>
      </a>
    </div>
    <div class="hidden md:flex items-center gap-4 flex-grow justify-end">
      <a type="button" class="px-3 py-2 text-sm bg-black dark:bg-white rounded-md hover:opacity-80 transition-all duration-300" href="/signin" data-svelte-h="svelte-1s22v1p">
        <p class="text-white dark:text-black">Sign in</p>
      </a>
    </div>
  </nav>
  